.elearning__signin {
    background: linear-gradient(135deg, #fff, #17bf9e);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .elearning__signin-form h4 {
    margin-bottom: 1rem;
  }
  .elearning__signin-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
  }
  .elearning__signin-header-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
    color: #212529;
  }
  .elearning__signin-header-subtitle {
    font-size: 15px;
    margin-bottom: 0;
    color: #6c757d;
  }
  .elearning__signin-content {
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 1rem;
    width: 600px;
  }
  .input-field {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }
  .password-toggle-icon {
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #888;
  }
  .error-message {
    color: red;
    font-size: 15px !important;
    align-items: center;
  }
  .password-toggle-icon:hover {
    color: #333;
  }
  .input-label {
    display: flex;
    color: #6c757d;
  }
  .link-end {
    margin: 5px 0;
    text-decoration: none;
    color: #17bf9e;
    display: flex;
    justify-content: flex-end;
  }
  .link-end p {
    font-size: 15px;
  }
  .link-end:hover {
    color: #17bf9e;
  }
  .input-label {
    display: flex;
    color: #6c757d;
  }
  .input-control {
    display: block;
    width: 100%;
    border: 1px solid #b9b9bb;
    border-radius: .375rem;
    border-width: 1px;
    height: 3rem;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .5rem .75rem;
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  }
  .input-control::placeholder {
    transition: transform 0.1s ease-in;
  }
  .input-control:focus::placeholder {
    transform: translateX(5px);
  }
  .input-control:focus {
    border: 2px solid #17bf9e;
  }
  .forget_password{
    margin: 5px 0;
    text-decoration: none;
    color: var(--color-basic);
  }
  .forget_password {
    justify-content: flex-end;
    align-items: flex-end;
  
  }
  .btn-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.35rem 1.24rem;
    border-radius: 5px;
    border: 1px solid #17bf9e;
    background: #17bf9e;
    color: #ffffff;
    width: 100%;
  }
  .elearning_separated {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }
  .elearning_separated div {
    background-color: #b9b9bb;
    width: 100%;
    height: 0.5px;
  }
  .elearning_separated p {
    color: #b9b9bb;
  }
  .btn-back-login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.35rem 1.24rem;
    border-radius: 5px;
    border: 1px solid #e4e6ef;
    background: #c5c8cc;
    color: #ffffff;
    width: 100%;
  }
  .link-text-center {
    text-decoration: none;
    color: #17bf9e !important;
    font-size: 12px;
  }
  .text-center {
    margin-top: 0;
    margin-bottom: 0 !important;
    font-size: 12px !important;
  }
  .error_msg {
    background: rgb(225, 28, 28);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .valid_msg {
    background: rgb(9, 91, 24);
    color: white;
    padding: 1rem;
    border-radius: 10px;
  }
  .loading_msg {
    color: rgb(9, 91, 24);
  }
  @media screen and (max-width: 700px) {
    .elearning__signin-header-title {
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 5px;
      color: #212529;
    }
    .elearning__signin-header-subtitle {
      font-size: 10px;
      margin-bottom: 0;
      color: #6c757d;
    }
    .elearning__signin-content {
      width: 350px;
    }
  }