<div className='elearning__signin'>
    <div className="elearning__signin-header">
      <div className="elearning__signin-logo">
        logo
      </div>
      <h1 className="elearning__signin-header-title">Welcome to NetSecCloud</h1>
      <p className="elearning__signin-header-subtitle">
        Sign-in to your account and start the adventure
      </p>
    </div>
    <div className="elearning__signin-content">
        <form onSubmit={handleSignIn} className="elearning__signin-form">
          <h4> Login to your account</h4>
          <div className="input-field">
            <label htmlFor="email" className="input-label">
              Email 
            </label>
            <input
              type="text"
              className="input-control"
              id="email"
              placeholder="Email"
              autoComplete="off"
            />
          </div>
          <div className="input-field">
            <label htmlFor="password" className="input-label">
              Password
            </label>
            <div className="password-wrapper">
                <input
                  name="password"
                  id="password"
                  className="input-control"
                  placeholder="Password"
                  autoComplete="off"
                />
              </div>
          </div>
          <div className="flex-end">
              <a routerLink='/forget-password' className='link-end'>Forgot password?</a>
          </div>
          <button type="submit" className="btn-submit">
            Sign in
          </button>
        </form>
        <p className="text-center">
          New on our platform ?
          <a routerLink='/register' className="link-text-center">Create account here</a>
        </p>
      </div>
      </div>
